body {
    background-color: rgb(66, 66, 66);
}

h1 {
    color: white;
    text-align: center;
    font-size: 150px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    border-style: solid;
    border-radius: 40px;
    border-width: 8px;
    border-color: rgb(255, 0, 0);
}